mqtt:
  host: 192.168.1.1
  port: 1883
  username: user
  password: password
  #ca_cert: /etc/ssl/certs/ca-certificates.crt # Uncomment to enable MQTT TLS, update path to appropriate location.
  #ca_verify: False                            # Verify TLS certificate chain and host, disable for testing with self-signed certificates, default to True
  topic_prefix: home/ups                       # Prefix sor sensor topics and availability_topic (not auto discovery)
  client_id: apcupsd2mqtt                      # Just a name. Put anything here.
  availability_topic: LWT                      # Used for LWT. Common to all sensors. Final topic is {topic_prefix}/availability_topic

manager:
  sensor_config:
    topic: homeassistant            # Prefix for HA auto discovery. Final topic is {topic}/{sensor name}
    retain: true                    # Normally set to true to retain sensor metadata in MQTT.
  command_timeout: 10               # Timeout for worker operations. Can be removed if the default of 35 seconds is sufficient.
  workers:
    apcupsd:                        # This maps to worker names. If you wrote your own, add.replace here.
      args:
        devices:
          SUA750RM1U:  127.0.0.1    # Use unique names here, and put IP here. Port is 3551 by default.
      update_interval: 120          # How often the values are updated in MQTT, in seconds.
